body{
    margin:0;
    padding: 0;
    font-size: 0.71rem;
    font-family: 'Poppins', sans-serif;
}
@media(min-width: 1366px){
    .container{
    width: 1366px;
    margin: auto;
    }
}
/* ============ HEADER ============ */
.header{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(135deg, rgba(0, 225, 255, 0.308) , rgba(212, 70, 70, 0.445) ); */
    background: url(ug.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;

}
.header_animation{
    animation: header .25s linear forwards;
}
@keyframes header{
    from{
        opacity: 0;
        filter: hue-rotate(360deg);
    }
    to{
        filter: hue-rotate(0deg);
    }
}

/* ============ NAVIGATION BAR TOP HEADER ============ */
#head{
    height: 10%;
    /* background: red; */
    flex: 1;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    /* background: white; */
    
}
#head_logo{
    flex:1;

}
#logo_image{

}

#nav_menu{
    flex:2;
}
ul{
    padding: none;
    margin: none;
    display: flex;
    justify-content: space-evenly;
    /* position: relative; */
}
.nav_item{
    padding: none;
    margin: none;
    list-style: none;   
    position: relative;
}
.underliner{
    display: block;
    background: red;
    width: 0%;
    height: 0.2rem;
    position: absolute;
    left: 50%;
    transition: all 0.35s;
}
.nav_item:hover .underliner{
    width: 100%;
    left: 0;
}
.nav_link{
    text-decoration: none;
    color:blue;
    font-weight: 400;
    transition: all 0.35s;
}
.nav_link:hover{
    color:rgba(0, 225, 255, 0.308);
    text-shadow: black;
}

.search{
    flex:2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search_bar{
    flex: 3;
    /* width: 70%; */
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: 120%;
    border: 2px solid black;
}
.search_bar::placeholder{
    /* font-size: 120%; */
}
.search_send{
    flex:1;
}
.search_icon{

}

.nav_item_end{
    flex: 1;
}


/* ============ HEADER MAIN PART ============ */
.header_main{
    /* align-self: flex-start; */
    height: 80%;
    /* margin-top: -17rem; */
    padding: 0;
    /* background: cyan; */
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
}
.main_animation{
    animation: main 1s linear forwards;
}
@keyframes main{
    from{
        opacity: 0;
        filter: hue-rotate(180deg);

    }
    to{
        opacity: 1;
        filter:hue-rotate(0deg);
    }
}
.intro_text{
    flex-basis: 50%;
    place-self: start;
    padding: 0 0 0 10rem;
}
.webmarvel_header{
    font-size: 300%;
    text-align: center;
    font-weight: 700;
}
.webmarvel_hostels{
    color:rgba(212, 70, 70, 0.745);
    position:relative;
    /* top: 3.5rem;
    right: 7rem; */
    border: 2px solid red;
    border-radius: 1rem;
    padding: 0 3rem 0 3rem;
}
p{
    font-size:120%;
    text-align: center;
}
.header_para{
    /* margin-top: 5rem; */
}
.text_red{

}
.text_green{

}
.text_cyan{

}
.exclaim_big{
    color: red;
    font-size:200%;
}
.login_para{

}
.login_label{
    cursor: pointer;
    font-size: 120%;
    padding: 0.4rem;
    color: blue;
    border: 2px white solid;
    transition: all 0.4s;
    border-radius: 0.51rem;
}
.login_label:hover{
    background: white;

}


/* ============ HEADER FORM PART ============ */

.form_field{
    flex-basis: 50%;
    margin-right: 10rem;
    margin-left: 10rem;
}
.form_area{
    display:flex;
    flex-wrap: wrap;
    place-items: center;
    /* border: 1px solid green; */
    border-radius: 1rem;
    height: 70vh;
    width: 80%;
    background:linear-gradient( rgba(255, 255, 255, 0.39), rgba(0, 255, 255, 0.562));
    box-shadow: 0 0 0.5rem 0.5rem rgba(255, 253, 253, 0.521);
}
.form_header{
    flex-basis:100%;
    font-size: 200%;
    text-align: center;
}
.input_section{
    flex-basis:70%;
    margin: 0.5rem auto 0.5rem auto;
    position: relative;
}
.login_input{
    height: 2rem;
    /* width: 20rem; */
    width: 100%;
    font-size: 100%;
    border-radius: 0.41rem;
    border: none;
}
.input_underliner{
    width: 0%;
    height: 2px;
    background: red;
    position: absolute;
    border-radius: 25%;
    bottom: 0rem;
    left:50%;
    transition: all 0.35s;;
}
.login_input:focus{
    outline: none;
}
.login_input:focus + .input_underliner{
    width: 100%;
    left:0%;
}
.login_input:last-child{
    margin-bottom: 0;
}
.flex_basis{
    margin: 0;
    flex-basis: 100%;
}
.login_button{
    flex-basis:30%;
    margin: 0.0rem auto 1.5rem auto;
    /* background: red; */
    border: 2px solid white;
    background: transparent;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 1.5rem;
    font-size: 135%;
    transition: all 0.4s;
    
}
.login_button:hover{
    background: white;
    color: blue;
}



/* =============== SUBMIT A COMPLAINT PAGE =============== */
.font_style{
    font-size: 110%;
}
.para_position{
    /* background: red; */
    /* text-align:left; */
    position: relative;
    right: 1rem;
    font-size: 100%;
    font-weight: 500;
}
.padding_1{
    padding: 1rem;  
    margin-left: 1rem;
    font-size:90%;
}
.type_label{
    flex-basis: 100%;
}
.checkboxes{
    padding-left: 1rem;
    flex-basis: 100%;
    /* background-color: red; */
    height: fit-content;
}

.text_area{
    flex-basis: 100%;
}
.text_field{
    display: block;
    height: 20vh;
    width: 85%;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 100%;
    border:none;
}
.text_field:focus{
    outline: none;
}
.submit_btn{
    flex-basis: 100%;
    /* background-color: red; */
}
.submit_button{
    background:transparent;
    display: block;
    margin: auto;
    width: 90%;
    height: 2rem;
    transition: all 0.4s;
    color: blue;
    font-size: 130%;
    border-radius: 0.51rem;
    border:2px solid white;
}
.submit_button:hover{
    background:white;
    color:;
    cursor: pointer;
}

/* ============ INTRODUCTION TO USER ============ */

.user_intro{
    /* border: 2px solid black; */
    width: 100%;
    font-size: 110%;
    margin: 0 5rem 0 0 ;
    padding: 0;
    position: relative;
    right: 10rem;
}
